@import url('https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap')
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,600,700&display=swap')
$bg-color: #0c0c0e
$primary-font: "Ubuntu", sans-serif
$text-color: #b6b6b6
$logo-first-text-color: #6958f1
$button-primary-color: #2911EB
$button-hover-color: #6958f1
$content-width:10%
$dark-color: #0c0c0e
$white-color:#fff
$light-color: #141417
$buttun-off-color:#E5ECEC

*
  box-sizing: border-box
  margin: 0
  padding: 0
  background-color: $bg-color

body
  margin: 0
  padding: 0

html
  font-family: 'Poppins',sans-serif
  box-sizing: border-box

li, a, button
  font-family: $primary-font
  font-weight: 500
  font-size: 16px
  color: $text-color
  text-decoration: none

header
  display: flex
  justify-content: space-between
  align-content: center
  padding: 30px 10%

.logo
  cursor: pointer

.nav__links
  list-style: none
  li
    display: inline-block
    padding: 0 20px
    a
      transition: all 0.3s ease 0s
      &:hover
        color: $logo-first-text-color
button
  padding: 9px 25px
  background-color: $button-primary-color
  border: none
  border-radius: 50px
  cursor: pointer
  transition: all 0.3s ease 0s
  &:hover
    background-color: $button-hover-color
span
  display: inline-block
  height: 5px
  width: 450px
  background: #6958f1
  margin-bottom: 30px


div
  .main
    height: 100vh
    display: flex
    align-items: center
    background: #141417
    justify-content: center
    margin: 0 auto
     
  .container
    background: #141417
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 30px
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45)
    margin: 0 auto
     
  .imag
    height: 300px
    width: 100%
    background: url(images/logo3.png) no-repeat
    background-size: contain
    background-position: center
  .text-container
    margin: 60px 45px 55px

.imag
  width: 100%

h1
  font-weight: 600
  font-size: 42px
  margin: 0 0 15px
  background-color:  #141417
  color: #FFE4E1

p
  font-weight: 300
  line-height: 24px
  margin: 0 0 30px 0
  background-color:  #141417
  color:#b6b6b6

@media screen and (min-width: 768px)
  div
    .container
       width: 100%
       flex-direction: row
    .imag
       min-width: 360px
       height: 420px
    .text-container
       margin: 0 60px
       max-width: 660px
       background-color:  #141417

@media screen and (min-width: 1024px)
  div
    .container
      max-width: 1200px

.switchboxCont
  width:$content-width
  margin:10% auto

.cards-list
  z-index: 0
  width: 100%
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.card
  margin: 120px auto
  width: 310px
  height: 220px
  border-radius: 40px
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22)
  cursor: pointer
  transition: 0.4s

  .card_image
    width: inherit
    height: inherit
    border-radius: 40px

    img
      width: inherit
      height: inherit
      border-radius: 40px
      object-fit: cover

  .card_title
    text-align: center
    border-radius: 0px 0px 40px 40px
    font-family: sans-serif
    font-weight: bold
    font-size: 30px
    margin-top: -80px
    height: 40px

  &:hover
    transform: scale(0.9, 0.9)
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22)

.title-white
  color: white

.title-black
  color: black

@media all and (max-width: 500px)

    